<mat-card class="py-15 pb-50 mat-elevation-z8">

<h2 class="filter__header">FILTERS</h2>

  <mat-divider></mat-divider>


  <form [formGroup]="filterForm" class="py-15" >
    <ng-container *ngIf="filters$ |async as filters">


      <div *ngFor="let input of filters" class="px-15">
        <ng-container *ngIf="input.type === 'dropdown' && (countries$ | async ) as countries; else sharedInput">
          <app-custom-dropdown [control]="getFormField(input.title)" [data]="countries" [placeholder]="input.title"></app-custom-dropdown>
        </ng-container>

        <ng-template #sharedInput>
        <shared-input [control]="getFormField(input.title)" [placeholder]="input.title" [title]="input.title.toLocaleLowerCase()" [type]="input.type.toLowerCase()" ></shared-input>

        </ng-template>
      </div>


    </ng-container>

  </form>

  <mat-card-actions>
    <button mat-raised-button color="primary" class="filter__btn" (click)="filter()">
      <mat-icon>filter_list</mat-icon>
      <span>Filter</span>
    </button>
    <button mat-raised-button color="warn" class="filter__btn" (click)="clear()">
      <mat-icon>delete</mat-icon>
      <span>clear</span>
    </button>
  </mat-card-actions>


</mat-card>


